@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basteleur";
  src: url("../public/fonts/main.woff2");
}

@font-face {
	font-family: "Gilroy";
	src: url("../public/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
	font-weight: extrabold;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../public/fonts/gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
	font-weight: extrabold;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("../public/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../public/fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("../public/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../public/fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
	font-weight: medium;
	font-style: italic;
}


@layer base {
	html,
	body {
		@apply bg-[#f4f3f2] font-gilroy font-medium
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-gilroy font-extrabold
	}

	/* forms */
	select {
		@apply form-select mt-1 focus:ring-green-700 focus:border-green-700 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md
	}

	[type="text"], 
	[type="url"],
	[type="tel"],
	[type="number"],
	[type="password"],
	[type="email"],
	[type="date"], 
	textarea {
		@apply mt-1 focus:ring-green-100 focus:border-green-100 w-full sm:text-sm border-gray-300 block
	}

	label {
		@apply block text-sm font-medium text-gray-700
	}

	label.required {
		@apply after:content-['_*'] after:text-red-700
	}
}

@layer components {
	.form-err-msg {
		@apply text-red-700 min-h-[20px]
	}

	.btn {
		@apply cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 py-1;
	}

	.btn.green {
		@apply bg-green-700 hover:bg-green-700 active:bg-green-700 text-white focus:ring-green-700;
	}

	.footer-link {
		@apply hover:text-green-700 transition-colors
	}

	.footer-link + .footer-link {
		@apply before:content-['_|']
	}
}

@layer utilities {
	.h-main-full {
		min-height: calc(100vh - theme('spacing.16'));
	}

	.h-main {
		min-height: calc(100vh - theme('spacing.56') - 4px);
	}

	@variants responsive {
		.text-shadow-sm {
			text-shadow: 1px 1px 2px black;
		}
		.text-shadow {
			text-shadow: 2px 2px 4px black;
		}
		.text-shadow-md {
			text-shadow: 4px 4px 8px black;
		}
		.text-shadow-lg {
			text-shadow: 15px 15px 30px black;
		}
		.text-shadow-none {
			text-shadow: none;
		}
	}
}